<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">
<!--    开启注解扫描-->
    <context:component-scan base-package="com.zmy.spring"></context:component-scan>

<!--    &lt;!&ndash; 配置Thymeleaf视图解析器  解析HTML5页面&ndash;&gt;-->
<!--    <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">-->
<!--&lt;!&ndash;        视图解析器的优先级&ndash;&gt;-->
<!--        <property name="order" value="1"/>-->
<!--&lt;!&ndash;        编码格式设置&ndash;&gt;-->
<!--        <property name="characterEncoding" value="UTF-8"/>-->
<!--        <property name="templateEngine">-->
<!--            <bean class="org.thymeleaf.spring5.SpringTemplateEngine">-->
<!--                <property name="templateResolver">-->
<!--                    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">-->

<!--                        &lt;!&ndash; 视图前缀 &ndash;&gt;-->
<!--                        <property name="prefix" value="/WEB-INF/view/"/>-->

<!--                        &lt;!&ndash; 视图后缀 &ndash;&gt;-->
<!--                        <property name="suffix" value=".html"/>-->
<!--                        <property name="templateMode" value="HTML5"/>-->
<!--                        <property name="characterEncoding" value="UTF-8" />-->
<!--                    </bean>-->
<!--                </property>-->
<!--            </bean>-->
<!--        </property>-->
<!--    </bean>-->

    <!--    jsp页面视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--        视图解析器前缀-->
        <property name="prefix" value="/WEB-INF/view/"></property>
<!--        视图解析器后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>





</beans>